﻿@model UniversalForum.BLL.DTO.UserDTO
@{
    ViewBag.Title = "PersonalArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default row">
    <div class="col-md-12">
        <div>
            <label style="min-width:70px;">Id: </label>
            <input id="inpId" type="text" value="@Model.Id" class="form-control" disabled />
        </div>
        <div>
            <label style="min-width:70px;">Email: </label>
            <input type="text" value="@Model.Email" class="form-control" disabled="disabled" />
        </div>
        <div>
            <label style="min-width:70px;">Name: </label>
            <input id="inpName" type="text" value="@Model.Name" class="form-control" disabled />
        </div>
        <div>
            <label style="min-width:70px;">Address: </label>
            <input id="inpAddress" type="text" value="@Model.Address" class="form-control" disabled />
        </div>
        <div>
            <button class="btn btn-primary" id="BtnEdit">Edit</button>
            <button class="btn btn-success" id="BtnSave">Save</button>
        </div>
    </div>
</div>


<script>
    $("#BtnSave").hide();

    $('#BtnEdit').click(function () {
        $('#inpName').prop("disabled", false);
        $('#inpAddress').prop("disabled", false);
        $("#BtnSave").show();
    });

    $('#BtnSave').click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeMyInfo", "Account")',
            data:
                {
                    id: $('#inpId').val(),
                    name: $('#inpName').val(),
                    address: $('#inpAddress').val()
                }
            }).done(function( msg ) {
                //alert("Data Saved: " + msg);
                $("#BtnSave").hide();
                $('#inpName').prop("disabled", true);
                $('#inpAddress').prop("disabled", true);
          });
    });

</script>

