﻿@model List<Forum.BLL.DTO.TopicDTO>
@{
    ViewBag.Title = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <h2> All Categories</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <input type="button" value="show" class="btn btn-info" onclick="location.href='@Url.Action("TopicView", "Topic", new { id = @item.Id })'" />
                        @if (@User.IsInRole("admin"))
                        {
                            <button id="BtnEdit" type="button" onclick="EditTopic(@item.Id,'@item.Name','@item.Description')" class="btn btn-warning">edit</button>
                            <button id="BtnRemove" onclick="RemoveTopic(@item.Id)" type="button" class="btn btn-danger">delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>After login, all categories will be shown.</h2>
}

@if (@User.IsInRole("admin"))
{
    <div class="panel panel-default">
        <div class="panel-body">Adding a new category</div>
        <div class="panel-footer">
            <label>Name</label>
            <input id="InpNameTopic" type="text" class="form-control" />
            <label id="errNewTopicName" style="color:red"></label><br />
            <label>Description</label>
            <input id="InpDescriptionTopic" type="text" class="form-control" />
            <label id="errNewTopicDesription" style="color:red"></label><br />
            <label id="errNewTopicMain" style="color:red"></label><br />
            <input id="BtnAddTopic" type="button" class="btn btn-success" value="Add" />
        </div>
    </div>

}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="exampleModalLabel">Edit category</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="inpEditTopicId" hidden></label>
                <label>Category name: </label>
                <input id="inpEditTopicName" type="text" class="form-control" />
                <label id="lblErrorTopicName" style="color:red"></label><br />
                <label>Category description: </label>
                <input id="inpEditTopicDescription" type="text" class="form-control" />
                <label id="lblErrorTopicDesciprion" style="color:red"></label> <br/>
                <label id="lblErrorTopicMain" style="color:red"></label> <br/>
                <label id="errEditMessage" style="color:red"></label><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="BtnSaveEditTopic" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/indexScript")

<script type="text/javascript">
    $(function () {
         SetUrlForAddTopic('@Url.Action("AddTopic", "Topic")');
         SetUrlForRemoveTopic('@Url.Action("RemoveTopic", "Topic")');
          SetUrlForEditTopic('@Url.Action("EditTopicData", "Topic")');
    });
</script>