﻿@model Forum.WEB.Models.Topic.TopicViewModel

@using Forum.BLL.DTO;

@{
    ViewBag.Title = "TopicView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Model.Topic.Name</h4>
<h5>Description:  @Model.Topic.Description</h5>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Messages)
        {
            <tr>
                <td>@item.User.Name</td>
                <td>@item.Text</td>
                @if (User.Identity.Name == @item.User.Name)
                {
                    <td>
                        <button type="button" class="btn btn-warning" onclick="EditMessage(@item.Id,'@item.Text')">edit</button>
                        <button type="button" class="btn btn-danger" onclick="DeleteMessage(@item.Id)">delete</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<label id="idMessageHideLabel" hidden></label>


<div class="panel panel-default">
    <div class="panel-body">To write a message</div>
    <div class="panel-footer">
        <input id="InpText" type="text" class="form-control" />
        <label id="errSendMessage" style="color:red"></label><br />
        <input type="button" class="btn btn-success" value="Send" onclick="SendMessage(@Model.Topic.Id)" id="BtnSendMessage" />
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="exampleModalLabel">Edit message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="valueForEdit" type="text" class="form-control" />
                <label id="errEditMessage" style="color:red"></label><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="BtnEditMessage" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        SetUrlForEditMessage('@Url.Action("EditMessage", "Topic")');
        SetUrlForSemdMessage('@Url.Action("SendMessage", "Topic")');
        SetUrlForDeleteMessage('@Url.Action("DeleteMessage", "Topic")');
    });
</script>


@Scripts.Render("~/bundles/topicViewScript")


